################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
parts =
    part
versions = versions
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
[versions]
[pgsql]
location=${buildout:directory}/../../dependencies/postgresql-8.4/parts/part
[expat]
location=${buildout:directory}/../../dependencies/expat-2.0/parts/part

[part]
recipe = minitage.recipe:cmmi
url = http://download.osgeo.org/gdal/gdal-1.5.4.tar.gz
gmake=True
make-targets =
    install
    install-lib
# LDFLAGS are set in hook because the LDFLAG configure variable seems not to have effect !
# moreover, this is the variable "LNK_FLAGS" with is used, so i copy the LDFLAGS var content into.
# dixit one gdal dev : 21:00 <Nowak> well, since 1.4 is 'broken' you have to hack around it
configure-options = --with-pic --with-ogr --without-ngpython --without-ogpython --without-python
                    --without-php --without-ruby --without-perl
                    --with-expat=${expat:location}/lib
                    --with-expat-inc=${expat:location}/include
                    --with-expat-lib=${expat:location}/lib
#pre-configure-hook= ${buildout:directory}/hooks/gdal.py:getgdalenv
md5sum=d5e411b6f11bd1f144af67d2045d2606
# http://www.mail-archive.com/gdal-dev@lists.osgeo.org/msg01187.html
freebsd-patches=${buildout:directory}/sh.patch
patch-options=-Np1 
